<h3>Equipment</h3>
<ul>
  <li *ngFor="let item of equipmentList">

<span *ngIf="itemBeingEdited !== item; else itemElseBlock">
  <span (click)="edit(item)" class="editable-text">{{item}}</span>
  <button (click)="remove(item)">remove</button>
</span>
<ng-template #itemElseBlock>
  <input #updatedItem (keyup.enter)="save(updatedItem.value, item)" value="{{item}}" />
  <button (click)="save(updatedItem.value, item)">save</button>
</ng-template>
</li>
</ul>
<input #equipment type="text" />
<button (click)="addEquipment(equipment.value); equipment.value =' '">Add</button>